#menu {
	position:fixed;
	overflow:hidden; /* wrap floats */
	height:55px; /* trips haslayout, wrap floats IE */
	list-style:none;
    top: -10px;
    right: 0px;
	font-family: "UniversCn",Arial,Helvetica,sans-serif;
	font-style: bold ;
	font-size : 14px ;
	line-height : 35px;
    float: right;
    background-color: #4B9CD7; 
    border-top-left-radius : 25px;
    border-bottom-left-radius : 25px;
}

#logo {
	position:fixed;
}

#menu li {
	display:inline;
}


#menu a {
	float:left;
	position:relative;
	padding-left:15px;
	padding-right:15px;    
	text-decoration:none;
	color:#ffffff;
	
}

#menu a span {
	position:absolute;
	top:0;
	left:100%;
	width:15px;
	height:40px;
	
}


#menu a:active,
#menu a:focus,
#menu a:hover {

	background-position: center;
	background-color:#c0c0c0;
}



#latlng {
	position:absolute;
    top: 70px;
    right: 120px;
    color: #15428B;
    font: 12px Arial, Tahoma, Helvetica, sans-serif;
}

#permalinkicon {
	position:absolute;
    top: 80px;
    right: 97px;
}

#permalink {
	position:absolute;
    top: 80px;
    right: 10px;
    color: #15428B;
    font: 12px Arial, Tahoma, Helvetica, sans-serif;
}