#menu {
	overflow:hidden; /* wrap floats */
	height:40px; /* trips haslayout, wrap floats IE */
	list-style:none;
    top: 0px;
    right: 0px;
	/*background:url(images/articles/menu.png) 0 0 repeat-x;*/
/*	font:bold 16px/45px sans-serif;*/
	font:bold 14px/40px sans-serif;
    float: right;
    padding-right: 30px;
}

#logo {
	position:fixed;
}

#menu li {
	display:inline;
}

#menu a {
	float:left;
	position:relative;
	padding-left:15px;
    margin-left: 1px;
	margin-right:15px;
	text-decoration:none;
	color:#EEE;
	background:url(../img/nav.gif) 0 0px no-repeat;
}

#menu a span {
	position:absolute;
	top:0;
	left:100%;
	width:15px;
	height:40px;
	background:url(../img/nav.gif) -295px -0px no-repeat;
}

#menu .current a {
	background-position:0 -40px;
	background-color:#CCC;
}

#menu .current a span {
	background-position:-295px -40px;
}

#menu a:active,
#menu a:focus,
#menu a:hover {

	background-position:0px -40px;
	background-color:#FF0;
}

#menu a:active span,
#menu a:focus span,
#menu a:hover span {
	background-position:-295px -40px;
}

#latlng {
	position:absolute;
    top: 80px;
    right: 30px;
    color: #15428B;
    font: 12px Arial, Tahoma, Helvetica, sans-serif;
}