
    body {
        margin: 0px;
        padding: 0px;
    }

    #header-container {
        width: 100%;
        height: 100px;
        background-color: #ffffff;
        position:absolute;
        top: 0px;
        left: 0px;
    }

    #body-container {
        position:fixed;
        top: 100px;
        width: 80%;
    }

    #logo {
        float: left;
        width: 531px;
        height: 100px;
    }

    #logo h1 {
        float: left;
        margin: 0;
        padding: 0;
        width: 531px;
    }

    #logo h1 a {
        padding: 0;
        margin: 0;
        width: 531px;
        height: 100px;
        display: block;
        background: url( "../img/img-auscope-banner.gif" ) no-repeat top left;
    }

    #logo h1 a span {
        display: none;
    }

    #related-portal-div {
        margin-top: 5px;
        border-bottom: 1px solid black;
        width: 80%;
    }

    .niceDiv {
        min-width: 40px;
        max-width:650px;
        min-height: 40px;
        max-height: 350px;
        font-family: Verdana;

    }

    .niceDivOverFlow {
        font-family: Verdana;
        min-width: 40px;
        max-width:650px;
        min-height: 40px;
        max-height: 350px;
        overflow: auto;
    }

    .auscopeTable {
        font-family: Verdana;
        font-weight: normal;
        font-size: 12px;
        color: #404040;
        background-color: #fafafa;
        border-style: solid;
        border-color: #6699CC;
        border-collapse: collapse;
    }

    #reportsname {
        font-weight: bold;
    }

    #auscopePre {
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
        width: 99%;
    }

    #filterpanelbox {
         margin:15px;
         padding:15px;
         border:1px dotted #999;
         color:#555;
         background: #f9f9f9;
    }