
    body {
        margin: 0px;
        padding: 0px;
    }

    #header-container {
        width: 100%;
        height: 100px;
        background-color: #ffffff;
        position:fixed;
    }

    #logo {
        float: left;
        width: 531px;
        height: 100px;
    }

    #logo h1 {
        float: left;
        margin: 0;
        padding: 0;
        width: 531px;
    }

    #logo h1 a {
        padding: 0;
        margin: 0;
        width: 531px;
        height: 100px;
        display: block;
        background: url( "../img/img-auscope-banner.gif" ) no-repeat top left;
    }

    #logo h1 a span {
        display: none;
    }
