<style type="text/css">

  html {
    height:100%; 
    max-height:100%; 
    padding:0;
    margin:0; 
    border:0; 
    background:#fff; 
    font-size:76%; 
    font-family:georgia, palatino linotype, times new roman, serif;
    /* hide overflow:hidden from IE5/Mac */ 
    /* \*/ 
      overflow: hidden; 
    /* */ 
  }

  body {
    height:100%; max-height:100%; overflow:hidden; padding:0; margin:0; border:0;}

  #content {
    overflow:auto; position:absolute; z-index:3; top:65px; bottom:50px; left:200px; right:0; background:#eee;}

  * html #content {
    top:0; left:0; right:0; bottom:0; height:100%; max-height:100%; width:100%; overflow:auto; position:absolute; z-index:3; border-top:100px solid #fff; border-bottom:50px solid #fff; border-left:200px solid #fff;}

  #head {
    position:absolute; margin:0; top:0; left:0; display:block; width:100%; height:65px; background:url("../img/Auscope_header.jpg") #000; background-position:top right; background-repeat:no-repeat; font-size:3em; z-index:5; overflow:hidden; color:#fff;}

  #foot {
    position:absolute; margin:0; bottom:0; left:0; display:block; width:100%; height:50px; font-size:1em; z-index:5; overflow:hidden; background:rgb(76,76,76); color:#fff;}

  #left {
    position:absolute; left:0; top:65px; bottom:50px; width:200px; background:rgb(76,76,76); font-size:1.0em; z-index:4; overflow:auto; background-repeat:no-repeat;}

  * html #left {
    height:100%; top:0; bottom:0; border-top:100px solid #fff; border-bottom:50px solid #fff; color:#fff;}

  #content p {
    padding:10px;}

  .bold {
    font-size:1.2em; font-weight:bold;}

  dd {
    display:none;}

  a.nav, a.nav:visited {
    margin-left:20px; display:block; width:155px; height:25px; background:#aaa; color:#eee; border:1px solid #000; text-decoration:none; text-align:center; line-height:25px;}

  a.nav:hover {
    background:#000; color:#fff;}
</style>
