
    body {
        margin: 0px;
        padding: 0px;
    }

    #header-container {
        width: 100%;
        height: 100px;
        background-color: #ffffff;
    }

    #header {
        background-image: url( "/img/img-auscope-banner.gif" );
        background-repeat: no-repeat;
        width: 100%;
        height: 100px;
    }

    #logo {
        float: left;
        padding-top: 40px;
        padding-left: 0px;
    }

    #login {
        float: right;
        padding-right: 30px;
        padding-top: 10px;
    }

    img {
        border: none;
    }

    #nav {
        float: right;
        padding-top: 0px;
        padding-right: 40px;
    }

    #nav ul {
        text-align: left;
        padding: 0px;
        margin: 0px;
    }

    #nav ul li {
        display: inline;
        padding: 0px;
        margin: 0px;
    }

    #nav-example {
        background: url( "/img/navigation.gif" ) no-repeat;
        width: 300px;
        height: 38px;
        margin: 0;
        padding: 0;
        float: right;
        padding-right: 40px;
    }

    #nav-example span {
        display: none;
    }

    #nav-example li, #nav-example a {
        height: 38px;
        display: block;
    }

    #nav-example li {
        float: left;
        list-style: none;
        display: inline;
    }

    #nav-example-01 {
        width: 100px;
    }

    #nav-example-02 {
        width: 100px;
    }

    #nav-example-03 {
        width: 100px;
    }

    #nav-example-01 a:hover {
        background: url( "/img/navigation.gif" ) 0px -38px no-repeat;
    }

    #nav-example-02 a:hover {
        background: url( "/img/navigation.gif" ) -100px -38px no-repeat;
    }

    #nav-example-03 a:hover {
        background: url( "/img/navigation.gif" ) -200px -38px no-repeat;
    }
