<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
   xsi:schemaLocation="
      http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
      http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd"
   >
      
   <!-- Turn on HostPrecedingPropertyPlaceholderConfigurer -->
   <!-- http://jdwyah.blogspot.com/2006/12/updated-spring-configuration.html -->
   <bean id="propertyConfigurer" class="org.auscope.portal.server.util.PortalPropertyPlaceholderConfigurer">
      <property name="locations">
         <list>
            <value>classpath:config.properties</value>
            <value>classpath:env.properties</value>
         </list>
      </property>
   </bean>

    <bean id="knownTypes" class="java.util.ArrayList">
        <constructor-arg>
            <list>                 		
                <ref bean="knownTypeMine" />
                <ref bean="knownTypeMineralOccurrence" />
                <ref bean="knownTypeMiningActivity" />
                <ref bean="knownTypeBorehole" />
                <ref bean="knownTypeGeodesy" />
                <ref bean="knownTypeGeochron" />
            </list>
        </constructor-arg>
    </bean>
   
   <bean id="knownTypeMine" class="org.auscope.portal.server.web.KnownFeatureTypeDefinition">
       <constructor-arg index="0" value="er:Mine"/>
       <constructor-arg index="1" value="Earth Resource Mine"/>
       <constructor-arg index="2" value=""/>
       <constructor-arg index="3" value="/doMineFilter.do"/>
       <constructor-arg index="4" value="http://maps.google.com/mapfiles/kml/paddle/pink-blank.png"/>
       <constructor-arg index="5">
           <bean class="java.awt.Point">
               <constructor-arg index="0" value="16"/>
               <constructor-arg index="1" value="32"/>
           </bean>
       </constructor-arg>
       <constructor-arg index="6">
           <bean class="java.awt.Point">
               <constructor-arg index="0" value="16"/>
               <constructor-arg index="1" value="32"/>
           </bean>
       </constructor-arg>
       <constructor-arg index="7">
           <bean class="java.awt.Dimension">
               <constructor-arg index="0" value="32"/>
               <constructor-arg index="1" value="32"/>
           </bean>
       </constructor-arg>
    </bean>

    <bean id="knownTypeMineralOccurrence" class="org.auscope.portal.server.web.KnownFeatureTypeDefinition">
       <constructor-arg index="0" value="er:MineralOccurrence"/>
       <constructor-arg index="1" value="Earth Resource Mineral Occurrence"/>
       <constructor-arg index="2" value=""/>
       <constructor-arg index="3" value="/doMineralOccurrenceFilter.do"/>
       <constructor-arg index="4" value="http://maps.google.com/mapfiles/kml/paddle/purple-blank.png"/>
       <constructor-arg index="5">
           <bean class="java.awt.Point">
               <constructor-arg index="0" value="16"/>
               <constructor-arg index="1" value="32"/>
           </bean>
       </constructor-arg>
       <constructor-arg index="6">
           <bean class="java.awt.Point">
               <constructor-arg index="0" value="16"/>
               <constructor-arg index="1" value="32"/>
           </bean>
       </constructor-arg>
       <constructor-arg index="7">
           <bean class="java.awt.Dimension">
               <constructor-arg index="0" value="32"/>
               <constructor-arg index="1" value="32"/>
           </bean>
       </constructor-arg>
    </bean>

    <bean id="knownTypeMiningActivity" class="org.auscope.portal.server.web.KnownFeatureTypeDefinition">
       <constructor-arg index="0" value="er:MiningActivity"/>
       <constructor-arg index="1" value="Earth Resource Mining Activity"/>
       <constructor-arg index="2" value=""/>
       <constructor-arg index="3" value="/doMiningActivityFilter.do"/>
       <constructor-arg index="4" value="http://maps.google.com/mapfiles/kml/paddle/orange-blank.png"/>
       <constructor-arg index="5">
           <bean class="java.awt.Point">
               <constructor-arg index="0" value="16"/>
               <constructor-arg index="1" value="32"/>
           </bean>
       </constructor-arg>
       <constructor-arg index="6">
           <bean class="java.awt.Point">
               <constructor-arg index="0" value="16"/>
               <constructor-arg index="1" value="32"/>
           </bean>
       </constructor-arg>
       <constructor-arg index="7">
           <bean class="java.awt.Dimension">
               <constructor-arg index="0" value="32"/>
               <constructor-arg index="1" value="32"/>
           </bean>
       </constructor-arg>
    </bean>

    <bean id="knownTypeBorehole" class="org.auscope.portal.server.web.KnownFeatureTypeDefinition">
       <constructor-arg index="0" value="gsml:Borehole"/>
       <constructor-arg index="1" value="National Virtual Core Library"/>
       <constructor-arg index="2" value=""/>
       <constructor-arg index="3" value="/doNvclFilter.do"/>
       <constructor-arg index="4" value="http://maps.google.com/mapfiles/kml/paddle/blu-blank.png"/>
       <constructor-arg index="5">
           <bean class="java.awt.Point">
               <constructor-arg index="0" value="16"/>
               <constructor-arg index="1" value="32"/>
           </bean>
       </constructor-arg>
       <constructor-arg index="6">
           <bean class="java.awt.Point">
               <constructor-arg index="0" value="16"/>
               <constructor-arg index="1" value="32"/>
           </bean>
       </constructor-arg>       
       <constructor-arg index="7">
           <bean class="java.awt.Dimension">
               <constructor-arg index="0" value="32"/>
               <constructor-arg index="1" value="32"/>
           </bean>
       </constructor-arg>
   </bean>

    <bean id="knownTypeGeodesy" class="org.auscope.portal.server.web.KnownFeatureTypeDefinition">
       <constructor-arg index="0" value="ngcp:GnssStation"/>
       <constructor-arg index="1" value="Geodesy"/>
       <constructor-arg index="2" value=""/>
       <constructor-arg index="3" value="/getAllFeatures.do"/>
       <constructor-arg index="4" value="http://maps.google.com/mapfiles/kml/paddle/wht-blank.png"/>
       <constructor-arg index="5">
           <bean class="java.awt.Point">
               <constructor-arg index="0" value="16"/>
               <constructor-arg index="1" value="32"/>
           </bean>
       </constructor-arg>
       <constructor-arg index="6">
           <bean class="java.awt.Point">
               <constructor-arg index="0" value="16"/>
               <constructor-arg index="1" value="32"/>
           </bean>
       </constructor-arg>       
       <constructor-arg index="7">
           <bean class="java.awt.Dimension">
               <constructor-arg index="0" value="32"/>
               <constructor-arg index="1" value="32"/>
           </bean>
       </constructor-arg>
   </bean>
   
    <bean id="knownTypeGeochron" class="org.auscope.portal.server.web.KnownFeatureTypeDefinition">
       <constructor-arg index="0" value="Geochron:ragingspotgeochronology"/>
       <constructor-arg index="1" value="Raging Spot Geochronology"/>
       <constructor-arg index="2" value=""/>
       <constructor-arg index="3" value="/getAllFeatures.do"/>
       <constructor-arg index="4" value="http://maps.google.com/mapfiles/kml/paddle/red-blank.png"/>
       <constructor-arg index="5">
           <bean class="java.awt.Point">
               <constructor-arg index="0" value="16"/>
               <constructor-arg index="1" value="32"/>
           </bean>
       </constructor-arg>
       <constructor-arg index="6">
           <bean class="java.awt.Point">
               <constructor-arg index="0" value="16"/>
               <constructor-arg index="1" value="32"/>
           </bean>
       </constructor-arg>       
       <constructor-arg index="7">
           <bean class="java.awt.Dimension">
               <constructor-arg index="0" value="32"/>
               <constructor-arg index="1" value="32"/>
           </bean>
       </constructor-arg>
   </bean>   

</beans>