<?xml version="1.0" encoding="UTF-8"?>

<web-app
    xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
						http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4"> 


  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>dispatcher</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <!--
  <servlet>
    <servlet-name>googlemap</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

    <servlet>
          <servlet-name>HttpProxy</servlet-name>
          <servlet-class>com.jsos.httpproxy.HttpProxyServlet</servlet-class>
        <init-param>
          <param-name>host</param-name>
          <param-value>http://auscope-portal.arrc.csiro.au/gnss/wfs</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
      <servlet-name>HttpProxy</servlet-name>
      <url-pattern>/geoserver/wfs</url-pattern>
    </servlet-mapping>-->

    <servlet>
      <servlet-name>RestProxy</servlet-name>
      <servlet-class>com.jsos.restproxy.RestProxyServlet</servlet-class>
    </servlet>

    <servlet-mapping>
      <servlet-name>RestProxy</servlet-name>
      <url-pattern>/restproxy</url-pattern>
    </servlet-mapping>

    <servlet>
      <servlet-name>XSLTRestProxy</servlet-name>
      <servlet-class>org.auscope.portal.server.web.servlet.XSLTRestProxy</servlet-class>
    </servlet>

    <servlet-mapping>
      <servlet-name>XSLTRestProxy</servlet-name>
      <url-pattern>/xsltRestProxy</url-pattern>
    </servlet-mapping>

    <servlet>
      <servlet-name>DownloadProxy</servlet-name>
      <servlet-class>org.auscope.portal.server.web.servlet.DownloadProxy</servlet-class>
    </servlet>

    <servlet-mapping>
      <servlet-name>DownloadProxy</servlet-name>
      <url-pattern>/downloadProxy</url-pattern>
    </servlet-mapping>

  <servlet-mapping>
    <servlet-name>dispatcher</servlet-name>
    <url-pattern>*.html</url-pattern>
  </servlet-mapping>

    <servlet>
    <servlet-name>jsonDispatcher</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>jsonDispatcher</servlet-name>
    <url-pattern>*.json</url-pattern>
  </servlet-mapping>
  <!--
    <servlet-mapping>
    <servlet-name>gmlDispatcher</servlet-name>
    <url-pattern>*.gml</url-pattern>
  </servlet-mapping>
      -->
  <welcome-file-list>
  	 <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>


</web-app>
