<?xml version="1.0" encoding="UTF-8"?>

<web-app
    xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
						http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

   <display-name>AuScope Portal</display-name>

    <!-- This is so our our profile 'magic' context is utilised -->
    <context-param>
        <param-name>contextClass</param-name>
        <param-value>
            org.auscope.portal.server.util.PortalProfileXmlWebApplicationContext
        </param-value>
    </context-param>

   <listener>
      <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
   </listener>

   <servlet>
      <servlet-name>RestProxy</servlet-name>
      <servlet-class>com.jsos.restproxy.RestProxyServlet</servlet-class>
   </servlet>

   <servlet-mapping>
      <servlet-name>RestProxy</servlet-name>
      <url-pattern>/restproxy</url-pattern>
   </servlet-mapping>

   <servlet>
      <servlet-name>annotationsDispatcher</servlet-name>
      <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
      <load-on-startup>1</load-on-startup>
   </servlet>

    <servlet-mapping>
      <servlet-name>annotationsDispatcher</servlet-name>
      <url-pattern>*.html</url-pattern>
   </servlet-mapping>

   <servlet-mapping>
      <servlet-name>annotationsDispatcher</servlet-name>
      <url-pattern>*.do</url-pattern>
   </servlet-mapping>

    <servlet-mapping>
      <servlet-name>annotationsDispatcher</servlet-name>
      <url-pattern>*.json</url-pattern>
   </servlet-mapping>

    <servlet-mapping>
      <servlet-name>annotationsDispatcher</servlet-name>
      <url-pattern>*.kml</url-pattern>
   </servlet-mapping>

   <welcome-file-list>
      <welcome-file>index.jsp</welcome-file>
   </welcome-file-list>

   <error-page>
      <error-code>403</error-code>
      <location>/access_error.html</location>
   </error-page>
</web-app>
